<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Boter Kaas Eieren</title>
    <link rel="stylesheet" href="style/style.css" />
</head>
<body>
<main>
  <div id="intro">
    <h1>Welcome To ButterCheeseEgg</h1>
    <p>This game is based on Tic Tac To but controlled by twitter<br>
      Send a message to @ButterCheeseEgg on twitter with <em>Join</em> and the game id -> <em id="gameId">0000</em>
    </p>
    <h2 id="waitingTime"><span>60</span><br> Seconds before te game starts</h2>
    <h2 id="users">There are <span>0</span> player in the lobby, we need atleast 2 to start te game</h2>
  </div>
  </div>
  	<table>
  		<tr>
  			<td></td>
  			<td></td>
  			<td></td>
  		</tr>
  		<tr>
  			<td></td>
  			<td></td>
  			<td></td>
  		</tr>
  		<tr>
  			<td></td>
  			<td></td>
  			<td></td>
  		</tr>
  	</table>
    <div id="sidebar">
        <p id="score"><span id="scoreGroen">0</span>X<span id="scoreGeel">0</span></p>
        <!-- <p class="sidebaruitleg">De bedoeling van het spel is 3 op een rij te krijgen. Je kan dit onder elkaar doen, naast elkaar of kruislings</p>
        <p id="resetBeurt" class="sidebarTekst">Reset de Beurt<br> of gebruikt "spatiebalk"</p>
        <p id="resetGame" class="sidebarTekst">Reset de Game<br> of gebruikt "enter"</p> -->
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
